//fuentes:
$marca: 'Montserrat';
$fuente: 'Poppins';

//colores:
$color-principal: #c630a8;
$color-blanco: #FFFFFF;
$color-negro: #37478f;
$color-borde-claro: rgb(108, 30, 99);
$color-borde-oscuro: #CCC;